<a href="https://colab.research.google.com/github/kelhob/NBA/blob/main/NBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

In [5]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [7]:
# prompt: move to /drive/data dir

import os
os.chdir('/content/drive/My Drive/data')
print(os.getcwd())

/content/drive/My Drive/data

In [8]:
import sqlite3 as sql
print ('Sqlite is ready')

Sqlite is ready

In [9]:
path="/content/drive/My Drive/data/nba.sqlite"
conn= sql.connect(path)
print ("Database is connected")

Database is connected

In [11]:
t1=pd.read_sql_query("Select * FROM player",conn)
print(t1)

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby          0
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz          0
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar          0
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf          0
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad          0
...       ...                  ...        ...           ...        ...
4810  1627790           Ante Zizic       Ante         Zizic          0
4811    78647             Jim Zoet        Jim          Zoet          0
4812    78648            Bill Zopf       Bill          Zopf          0
4813  1627826          Ivica Zubac      Ivica         Zubac          1
4814    78650           Matt Zunic       Matt         Zunic          0

[4815 rows x 5 columns]

In [12]:
#EDA Questions= 1949 to 2020, top 5?
q1="""SELECT season,Count(Distinct team_id) as Count_teams
from draft_history
group by season
order by Count_teams desc limit 5"""
r1=pd.read_sql(q1,conn)
print(r1)

  season  Count_teams
0   2012           30
1   2011           30
2   2020           29
3   2015           29
4   2006           29

In [17]:
q3="""SELECT * from player p join common_player_info ps on p.id=ps.person_id
where p.full_name='Kobe Bryant'"""
r3=pd.read_sql(q3,conn)
print(r3)

    id    full_name first_name last_name  is_active person_id first_name  \
0  977  Kobe Bryant       Kobe    Bryant          0       977       Kobe

  last_name display_first_last display_last_comma_first  ...   playercode  \
0    Bryant        Kobe Bryant             Bryant, Kobe  ...  kobe_bryant

  from_year to_year dleague_flag nba_flag games_played_flag draft_year  \
0    1996.0  2015.0            N        Y                 Y       1996

  draft_round  draft_number greatest_75_flag
0           1            13                Y

[1 rows x 38 columns]

In [21]:
q4="""SELECT * from
team t
join game g on t.id=g.team_id_home
join game_summary gs on g.game_id=gs.game_id
where t.id in ('1610612747','1610612741','1610612739')
and gs.season > 1994"""
r4=pd.read_sql(q4,conn)
print(r4)

              id            full_name abbreviation   nickname         city  \
0     1610612739  Cleveland Cavaliers          CLE  Cavaliers    Cleveland
1     1610612739  Cleveland Cavaliers          CLE  Cavaliers    Cleveland
2     1610612739  Cleveland Cavaliers          CLE  Cavaliers    Cleveland
3     1610612739  Cleveland Cavaliers          CLE  Cavaliers    Cleveland
4     1610612739  Cleveland Cavaliers          CLE  Cavaliers    Cleveland
...          ...                  ...          ...        ...          ...
3306  1610612747   Los Angeles Lakers          LAL     Lakers  Los Angeles
3307  1610612747   Los Angeles Lakers          LAL     Lakers  Los Angeles
3308  1610612747   Los Angeles Lakers          LAL     Lakers  Los Angeles
3309  1610612747   Los Angeles Lakers          LAL     Lakers  Los Angeles
3310  1610612747   Los Angeles Lakers          LAL     Lakers  Los Angeles

           state  year_founded season_id team_id_home team_abbreviation_home  \
0           Ohio        1970.0     12005   1610612739                    CLE
1           Ohio        1970.0     12005   1610612739                    CLE
2           Ohio        1970.0     12005   1610612739                    CLE
3           Ohio        1970.0     12006   1610612739                    CLE
4           Ohio        1970.0     12006   1610612739                    CLE
...          ...           ...       ...          ...                    ...
3306  California        1948.0     42022   1610612747                    LAL
3307  California        1948.0     42022   1610612747                    LAL
3308  California        1948.0     42022   1610612747                    LAL
3309  California        1948.0     42022   1610612747                    LAL
3310  California        1948.0     42022   1610612747                    LAL

      ... game_status_text         gamecode home_team_id visitor_team_id  \
0     ...            Final  20051011/BOSCLE   1610612739      1610612738
1     ...            Final  20051019/MEMCLE   1610612739      1610612763
2     ...            Final  20051023/TORCLE   1610612739      1610612761
3     ...            Final  20061010/BOSCLE   1610612739      1610612738
4     ...            Final  20061014/WASCLE   1610612739      1610612764
...   ...              ...              ...          ...             ...
3306  ...            Final  20230506/GSWLAL   1610612747      1610612744
3307  ...            Final  20230508/GSWLAL   1610612747      1610612744
3308  ...            Final  20230512/GSWLAL   1610612747      1610612744
3309  ...            Final  20230520/DENLAL   1610612747      1610612743
3310  ...            Final  20230522/DENLAL   1610612747      1610612743

     season  live_period  live_pc_time  natl_tv_broadcaster_abbreviation  \
0      2005            4                                            None
1      2005            4                                            None
2      2005            4                                            None
3      2006            4                                            None
4      2006            4                                            None
...     ...          ...           ...                               ...
3306   2022            4                                             ABC
3307   2022            4                                             TNT
3308   2022            4                                            ESPN
3309   2022            4                                             ABC
3310   2022            4                                            ESPN

      live_period_time_bcast  wh_status
0                     Q4  -           1
1                     Q4  -           1
2                     Q4  -           1
3                     Q4  -           1
4                     Q4  -           1
...                      ...        ...
3306          Q4       - ABC          1
3307          Q4       - TNT          1
3308         Q4       - ESPN          1
3309          Q4       - ABC          1
3310         Q4       - ESPN          1

[3311 rows x 76 columns]